body {
    background-color: #000;
    color: #fff;
    font-family: Verdana, sans-serif;
  }

  .header {
    max-width:800px;
    margin:0 auto;
  }

  .title {
      font-family: 'Comic Sans MS';
      font-style: italic;
      font-size: 24px;
      color:#81FF00;
      font-weight:bold;
    }

    .container {
    display: flex;
    width: 90%;
    max-width: 800px;
    height: 100%;
    margin: auto;
    border: 0;
    border-top: 1px solid #00FF00 ;
    border-bottom: 1px solid #00FF00;
  }
    .sidebar {
    width: 170px;
    padding: 15px;
    border-right: 1px solid #00FF00;
    background: #000;
    font-family: Verdana;
    font-weight: bold;
  }

  .sidebar p, .sidebar a {
    margin: 0px;
    color: #fff;
    font-weight: bold;
    font-size: 11pt;
    font-family: Verdana;
    text-decoration: none;
    display: block;
  }

  .sidebar h2 {
    margin: 3px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-family: Verdana, sans-serif;
  }

  .sidebar img {
    border: 1px solid #fff;
    width: 150px;
    height: 150px;
    margin: 0px;
    margin-bottom: 20px;
  }

  .gallery {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 15px;
    justify-items: center;
    padding: 15px;
    height: fit-content;
  }
  .gallery img {
    border: 3px solid #fff;
    width: 200px;
    height: 200px;
    transition: border-color 0.5s ease;
  }

  .gallery img:hover{
    border: 3px solid #00FF00;
  }


  /* BOTÓN MENÚ SOLO EN MÓVIL/TABLET */
  .menu-btn {
    display: none;
    background: #00FF00;
    color: #000;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

/* Tablets */
@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablet */
  }
  .title {
      font-family:Verdana, sans-serif;
      font-style: italic;
      font-size:18px;
      color:#81FF00;
      font-weight:bold;
    }
}

/* Móviles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    max-width: 768px;
    width: 100%;
    overflow: hidden;
  }

  .header {
      width: 100%;
      margin:0 auto;
    }

  /* Sidebar oculta por defecto en móvil */
  .sidebar {
    position: fixed;
    left: -220px;
    top: 0;
    height: 98%;
    width: 180px;
    transition: left 0.3s ease;
    z-index: 1000;
    overflow: scroll;
  }

  .sidebar.active {
    left: 0;
  }

  /* Botón menú visible en móvil */
  .menu-btn {
    display: block;
    margin: 10px;
  }

  .gallery {
    max-width: 768px;
    grid-template-columns: repeat(2, 0.5fr);
    padding: 0px;
    gap: 0px;
  }
  .gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid #81FF00;
  }

  .title {
      font-family:Verdana, sans-serif;
      font-style: italic;
      font-size:18px;
      color:#00FF00;
      font-weight:bold;
    }

}